@media screen and (max-width: 700px) {
  :root {
    --slide-height: 4em;
  }

  .menu-item {
    text-align: center;
    margin-right: auto;
  }

  .nav-links {
    width: 100%;
  }

  #fp-nav ul li:has(a.active) .fp-tooltip {
    display: none;
  }

  footer > p {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* gap: 0.2em; */
    letter-spacing: normal;

    #design-and-develop {
      display: none;
    }
  }

  .section-heading {
    display: block;
  }

  .intro {
    text-align: center;
    margin-bottom: 30%;
    width: 100%;
    padding: 0;
  }

  .designation {
    text-align: center;
  }

  /* cards */
  .card-deck {
    flex-wrap: wrap;
    margin-top: 1em;
  }

  .card {
    max-width: 97%;
  }

  .card .card-img-overlay {
    font-size: small;
    padding-top: 2em;
    padding-bottom: 8px;
  

    .card-title {
      font-weight: bold;
      margin-bottom: 4px;
    }

    .card-subtitle {
      font-weight: 200;
    }

    .card-text {
      margin-top: 0.2em;
      /* margin-bottom: 0; */
      font-weight: normal;
    }
  }

  /* .card-subtitle > span {
    font-size: smaller;
  } */

  .card-links {
    width: 100%;
    justify-content: space-evenly;
  }


  .contact {
    margin: 2em auto !important;
    /* display: block !important; */
    flex-wrap: wrap !important;
    gap: 1em !important;
    overflow-y: scroll;

    .contact-card {
      margin-top: -1em !important;
      padding: 0 12px !important;
      

      .display-6 {
        font-size: 26px;
      }

      .lead, .email, .phone {
        margin-bottom: 1em !important;
        font-size: 17px;
      }

      .links {
        flex-wrap: wrap;
        gap: 1.7em;
        justify-content: start;
        padding: 7px 0;

        .social-links {
          gap: 1.7em;
        }
      }
    }

    .contact-form {
      margin-top: -3em !important;
      height: fit-content;
      /* width: 100%; */
      padding: 0;

      .form1 {
        width: 90%;

        .form-group > #form-message.input {
          min-height: 5em;
          resize: none;
          /* max-height: 10em; */
        }

      }

    }

  }

}