@media screen and (max-width: 700px) {
  :root {
    --slide-height: 4em;
  }

  .menu-item {
    text-align: center;
    margin-right: auto;
  }

  .nav-links {
    width: 100%;
  }

  #fp-nav ul li:has(a.active) .fp-tooltip {
    display: none;
  }

  .section-heading {
    display: block;
  }

  .intro {
    text-align: center;
    margin-bottom: 30%;
    width: 100%;
    padding: 0;
  }

  .designation {
    text-align: center;
  }

  /* cards */
  .card-deck {
    flex-wrap: wrap;
    margin-top: 1em;
  }

  .card {
    max-width: 97%;
  }

  .card .card-img-overlay {
    font-size: small;
    padding-top: 2em;
    padding-bottom: 8px;
  

    .card-title {
      font-weight: bold;
      margin-bottom: 4px;
    }

    .card-subtitle {
      font-weight: 200;
    }

    .card-text {
      margin-top: 0.2em;
      /* margin-bottom: 0; */
      font-weight: normal;
    }
  }

  /* .card-subtitle > span {
    font-size: smaller;
  } */

  .card-links {
    width: 100%;
    justify-content: space-evenly;
  }

}