@media screen and (max-width: 700px) {
  .menu-item {
    text-align: center;
    margin-right: auto;
  }

  .nav-links {
    width: 100%;
  }

  .intro {
    text-align: center;
    margin-bottom: 30%;
    width: 100%;
    padding: 0;
  }

  .designation {
    text-align: center;
  }

  /* cards */
  .card-deck {
    flex-wrap: wrap;
  }

  .card {
    max-width: 97%;
  }

  .card .card-img-overlay {
    font-size: small;
    padding-top: 2em;
  

    .card-title {
      font-weight: bold;
    }

    .card-subtitle {
      font-weight: 200;
    }

    .card-text {
      font-weight: normal;
    }
  }

  :root {
    --slide-height: 4em;
  }
}