body {
    padding: 0%;
    margin: 0%;
    color: white;

    background-color: black;
    background-image: url('../images/bg3.jpg');
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover; 
    /* background-position: 0% 50%; */
}

#particles-js {
    position: absolute;
    background-color: transparent !important;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

/* Scroll navigation dots */
#fp-nav ul li a span {
    background-color: white !important;
}

.blur {
    backdrop-filter: blur(3px);
}

header.nav > #menu-icon {
    padding: 3em 5em;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.bars {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 2px;
    margin: 5px 0px;
    background-color: whitesmoke;
    transform-origin: right;
    transition: all 0.4s ease-in-out;
}

.cross-icon>.bar1 {
    transform: translateY(-2px) rotate(-45deg);
}

.cross-icon>.bar2 {
    opacity: 0;
}

.cross-icon>.bar3 {
    transform: translateY(1px) rotate(45deg);
}

#menu {
    display: flex;
    align-items: center;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -10;
    /* vertical-align: middle; */
    padding: 0% 13%;
    background-color: rgba(29, 29, 29, 0.7);
    transition: all 0.5s ease-in-out;
}

#menu.active {
    opacity: 1;
    z-index: 990;
}

.menu-item {
    text-align: right;
    margin: 2em 0em;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    transition: all 0.2s ease-in-out;
}

#main {
    /* z-index: 10; */
    background-color: transparent !important;
}

#main>section {
    padding: 50px;

}

#home>#intro>h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: black;
}